beautifulsoup4
certifi
charset-normalizer
click
colorama
contourpy
cycler
filelock
fonttools
huggingface-hub
idna
imbalanced-learn
imblearn
joblib
kaggle
kiwisolver
matplotlib
mlxtend
nltk
numpy
packaging
pandas
Pillow
pyparsing
python-dateutil
python-slugify
pytz
PyYAML
regex
requests
scikit-learn
scipy
seaborn
six
soupsieve
text-unidecode
threadpoolctl
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions
urllib3
